.footer__column-link{
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  transition: ease-in 1s;
}
.footer__column-link:hover{
  opacity: 0.33;
}
